
  <main>
    <div class="container text-center">
      
    <div class="row d-flex align-items-center justify-content-center">
      
         <div class="col-12 d-flex align-items-center justify-content-center titulo">
          <h1 class="font-effect-outline">Mucho te quiero perrito</h1>
         </div>
        <div class="col-12  mensajes">
            <h4>Hola {{ citaporId.nombre}}. Ha elegido cancelar la cita reservada para el día {{citaporId.fecha}}, a las {{citaporId.hora}}.<br>
            Si es correcto, pulse eliminar.<br>
            
            </h4>
              

        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center mensajes">
            <form method="get" action="/citas/citaeliminada">
            <button class= "btn btn-secondary">Eliminar</button>
            </form>
        </div>
    </div>      
    
    </div>      
    
  </main>


{{fecha}}
{{hora}}