  <main>
    <div class="container text-center">
  
      <div class="row d-flex align-items-center justify-content-center ">
         <div class="col-12 d-flex align-items-center justify-content-center titulo">
          <h1 class="font-effect-outline">Mucho te quiero perrito</h1>
        </div>
        <div class="col-8 d-flex align-items-center justify-content-center mensajes">
            <h4>
              Hola {{datosCita.nombre}}, su petición de cita se ha realizado correctamente.<br>
              Le esperamos el día {{datosCita.fecha}} a las {{datosCita.hora}}.<br>
              El identificador de su cita es {{datosCita.id}}, conserveló por si desea realizar alguna modificación.
             ¡Gracias por reservar con nosotros! 
            </h4>
         </div>
        <div class="col-4 d-flex align-items-center justify-content-center mensajes">
                              <canvas id="canvas"></canvas>
                
                <script src="/js/qrcode/build/qrcode.min.js"></script>
                <script>
                  console.log("{{datosCita}}")
                  QRCode.toCanvas(document.getElementById('canvas'), "{{datosCita.nombre}}", function (error) {
                    if (error) console.error(error)
                    console.log('success!');
                  })
                </script> 
        </div>

{{!--          <div class="container">
      <div class="row">
        <div class="col-12">
          <h5>Si desea modificar la cita, pulse aquí <a href="http://localhost:3000/citas/modificarcita/{{datosCita.id}}">Cambiar Cita</a></h5>
        </div>
      </div>
    </div> --}}
           
        

        <div class="col-12 d-flex align-items-center justify-content-center mensajes">
          <form method="get" action="/citas/nueva">
            <button class= "btn btn-secondary">Volver a la página principal</button>
            </form>
        </div>
       
      </div>      
    </div>
  </main>